body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #ffc;
    margin: 20px;
    padding: 0;
}

/* This is a comment, by the way */

p {
    line-height: 21px;
}

/* Apply to all */
*{
  text-align: left;
}

/* Elements can be floated left and right elements after the floating will flow around so if screen size changes elements will move down */
.thumbnail{
  float:left;
  width: 110px;
  height: 90px;
  margin: 5px;
}

/* To avoid floating araound the element after the floating ones will need the clear command to stay fixed; */
.somethingAfter {
  clear: both;
}

/* to avoid that a contained floated element will flow out from its container, put in container */
.clearfix {
    overflow: auto;
}
/* or */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Apply to all a element with id "menu" */
#menu a {
  padding: 45px 25px 0px 25px;
}

/* apply to all h1 h2 and h3 element */
h1, h2, h3 {
  font-family: "Verdana";
}

h1 {
    color: #ffc;
    background-color: #900;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
}

h2 {
    color: white;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
}

table {
    background-color: #ccc;
}
